# This requirements file is used for AWX Operator latest doc builds.

mkdocs-ansible<27.0
pillow>=12.2.0 # https://github.com/advisories/GHSA-pwv6-vv43-88gr
urllib3>=2.7.0 # https://github.com/advisories/GHSA-mf9v-mfxr-j63j
